
@{
    ViewBag.Title = "Create";
}

<h2>New Deck</h2>
<form action="/Deck/Create" method="POST">
    <div class="mb-3">
        <label for="deckName" class="form-label">Deck Name:</label>
        <input type="text" class="form-control" id="deckName" name="DeckName"/>
    </div>
    <div class="mb-3">
        <label for="userId" class="form-label">User ID:</label>
        <input type="text" class="form-control" id="userId" name="UserId" aria-describedby="userIDHelp"/>
        <div id="userIDHelp" class="form-text">Must match a valid user id</div>
    </div>
    <div>
        <input type="submit" value="Add Deck"/>
    </div>
</form>

