@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row">
        <h1 id="title">Welcome to DeckDJ!</h1>
        <p class="lead">DeckDJ combines the power of deck building and music playlists to enhance your Yu-Gi-Oh experience. With DeckDJ, you can build your deck and enjoy a curated music playlist that matches your deck's theme.</p>
        <p><a href="https://github.com/ozanls/Deck-DJ" class="btn btn-primary btn-md">Github Repo &raquo;</a></p>
    </section>

    <div class="row">

    </div>
</main>