
@{
    ViewBag.Title = "Create";
}

<h2>New Card</h2>
<form action="/Card/Create" method="POST">
    <div class="mb-3">
        <label class="form-label" for="number">Number:</label>
        <input class="form-control" id="number" type="text" name="Number" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" id="name" type="text" name="Name" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="cardFrame">Card Frame:</label>
        <input class="form-control" id="cardFrame" type="text" name="CardFrame" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="cardType">Card Type:</label>
        <input class="form-control" id="cardType" type="text" name="CardType" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="attribute">Attribute:</label>
        <input class="form-control" id="attribute" type="text" name="Attribute" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="level">Level:</label>
        <input class="form-control" id="level" type="number" name="Level" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="scale">Scale:</label>
        <input class="form-control" id="scale" type="number" name="Scale" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="attack">Attack:</label>
        <input class="form-control" id="attack" type="number" name="Attack" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="defense">Defense:</label>
        <input class="form-control" id="defense" type="number" name="Defense" />
    </div>
    <div class="mb-3">
        <input type="submit" value="Add Card"/>
    </div>
</form>

