@model DeckDJ.Models.ComboPieceDto
@{
    ViewBag.Title = "Details";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/ComboPiece/List">Back To Combo Pieces</a>
        <a class="dellink" href="/ComboPiece/DeleteConfirm/@Model.ComboPieceId">Delete</a>
        <a class="navlink" href="/ComboPiece/Edit/@Model.ComboPieceId">Update</a>
    </nav>
    <h2>Combo Piece</h2>
</div>
<div>ID: @Model.ComboPieceId</div>
<div>DeckId: @Model.DeckId</div>
<div>CardId: @Model.CardId</div>
<div>Copies: @Model.copies</div>

