@model DeckDJ.Models.ComboPieceDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Combo Piece</h2>
<form action="/ComboPiece/Update/@Model.ComboPieceId" method="POST">
    <div class="mb-3">
        <input type="hidden" name="ComboPieceId" value="@Model.ComboPieceId" />
    </div>
    <div class="mb-3">
        <input id="DeckId" type="hidden" name="DeckId" value="@Model.DeckId" />
    </div>
    <div class="mb-3">
        <input id="CardId" type="hidden" name="CardId" value="@Model.CardId" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="copies">Copies:</label> <input class="form-control" id="copies" type="number" name="copies" value="@Model.copies" />
    </div>
    <div class="mb-3">
        <input type="submit" value="Update Combo Piece" />
    </div>
</form>

